<h1>All Tasks</h1>
<% @tasks.each do |task| %>
<h4> <%= link_to task.title, task_path(task)%> <%= "Completed: #{task.completed}" %> <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: 'Are you sure?'} %></h4>

<% end %>

<%= link_to "Create a new task", new_task_path %>
